.menu {
    display: flex;
    justify-content: space-between;
}
.menuItem {
    font-size: 30px;
}
.position {
    border: 1px solid #000;
    border-radius: 8px;
    width: 30%;
    margin: 10px;
}
.menu img {
    width: 100px;
    height: 100px;
}